.sub-header{
    background-color: var(--dark-colour);
    padding: 1%;
    color: #fff;
    margin-bottom: .5rem;
    width: 100%;
}

.sub-header li{
    font-size: 1.2em;
}

.sub-header ul{
    list-style: square;
}

.italic{
    font-style: italic;
}

/**  FullPage Js styling   **/



/** media queries **/

 /*? Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    .anatomy{
        position: absolute;
        height: 30%;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    .section h1,h2,h3{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
    }

    .description{
        font-size: 1em;
        margin-right: 0%;
        margin-bottom: -40%;
    }

    .description.full{
        font-size: 1.2em;
        margin-right: 0%;
        margin-bottom: 0%;
        width: 100%;
    }

    .purpose{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
 }

 /*? Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

    .anatomy{
        position: absolute;
        height: 40%;
        top: 30%;
        left: 150%;
        transform: translate(-150%, -30%);
    }

    .section h1,h2,h3{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .description{
        font-size: 1em;
        margin-right: 60%;
        margin-bottom: 50%;
    }

    .description.full{
        font-size: 1.2em;
        margin-right: 0%;
        margin-bottom: 0%;
        width: 100%;
    }

    .purpose{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

 }
 
 /*? Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    .anatomy{
        position: absolute;
        height: 45%;
        top: 30%;
        left: 120%;
        transform: translate(-120%, -30%);
    }

    .section h1,h2,h3{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .description{
        font-size: 1.2em;
        margin-right: 50%;
        margin-bottom: 40%;
    }

    .description.full{
        font-size: 1.4em;
        margin-right: 0%;
        margin-bottom: 20%;
        width: 100%;
    }

    .purpose{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }
 }
 
 /*? Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

    .anatomy{
        position: absolute;
        height: 50%;
        top: 30%;
        left: 100%;
        transform: translate(-100%, -30%);
    }

    .section h1,h2,h3{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .description{
        font-size: 1.5em;
        margin-right: 50%;
        margin-bottom: 20%;
    }

    .description.full{
        font-size: 1.5em;
        margin-right: 0%;
        margin-bottom: 20%;
        width: 100%;
    }

    .purpose{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
 }
 
 /*? Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     
    .anatomy{
        position: absolute;
        height: 60%;
        top: 30%;
        left: 100%;
        transform: translate(-100%, -30%);
    }
    
    .section h1,h2,h3{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .description{
        font-size: 1.5em;
        margin-right: 50%;
        margin-bottom: 20%;
    }

    .description.full{
        font-size: 1.5em;
        margin-right: 0%;
        margin-bottom: 20%;
        width: 100%;
    }
    
    .purpose{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
 } 
