*{
    padding: 0;
    margin: 0;
}

#primary-clan, #splash-clan, #vs-clan, #role-element, #provinces{
    width: 100%;
    margin-top: 1em;
    border-top: 2px solid black;
    margin-left: 0;
}

#primary-clan .lead{
    max-width: 12%;
}

#splash-clan .lead{
    max-width: 12%;
}

.clan-button{
    max-width: 12%;
    margin-left: .4em;
    margin-right: .4em;
    margin-top: 1em;
}

#clan-text{
    color: white;
}

.deck-name{
    align-content: center;
}

#keeper-button, #seeker-button{
    margin-top: 1em;
}

#fire-button,#water-button,#earth-button,#void-button,#air-button{
   margin-top: 1em;
}

.role-button, .element-button{
    margin-left: .4em;
    margin-right: .4em;
}

#temp-button{
    visibility: hidden;
}

.provinces{
    min-width: 20%;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

.lastele{
    border-right: 2px black solid;
}

.provinces h4{
    margin-top: .5em;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
}

.provinces button{
    margin-top: .5em;
}

.province-item{
    text-align: center;
    width: 90%;

}

#submit-button-row{
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    text-align: center;
}

#submit-button{
    width: 100%;
}
