*{
    padding: 0;
    margin: 0;
}

#clan-jumbotron{
    margin: 0;
    padding: 1em;
    text-align: center;
    margin-bottom: 2em;
}

#clan-select, #side-select, #vs-button{
    margin-left: .5em;
    margin-right: .5em;
}

#clan-card-images{
    margin-top: 1em;
}

.card-buttons{
    margin-left: .8em;
}

.cards{
    margin-top: .5em;
}

.card{
    margin-top: 1em;
    background-color: aliceblue;
    text-align: center;
}

#vs-main-button{
    margin-left: .5em;
}

#vs-clan-display{

    width: 75%;
    display: inline-flex;
    align-content: center;
    
}

#crab-display, #crane-display, #dragon-display, #lion-display, #phoenix-display, #scorpion-display, #unicorn-display{
    display: inline;
    margin-left: .5em;
    margin-right: .5em;
}

#vs-clan-display{
    margin-top: 1.5em;

}
