*{
    padding: 0;
    margin: 0;
    text-align: center;
}

#primary-clan, #splash-clan, #vs-clan, #role-element{
    width: 100%;
    margin-top: 1em;
    margin-left: 0;
}
.primary-clan{
    text-decoration: none;
}

.primary-clan ul{
    border: 2px solid black;
}

.primary-clan a{
}

.splash-clan{
    text-decoration: none;
}

.splash-clan ul{
    border: 2px black solid;
}

.role-element{
    text-decoration: none;
}

.role-element ul{
    border: 2px solid black;
}

.vs-clan{
    text-decoration: none;
}

.vs-clan ul{
    border: 2px solid black;
}

.clan-button{
    max-width: 12%;
    margin-left: .4em;
    margin-right: .4em;
    margin-top: 1em;
}

#clan-text{
    color: white;
}

.deck-name{
    align-content: center;
}

#keeper-button, #seeker-button{
    margin-top: 1em;
}

#fire-button,#water-button,#earth-button,#void-button,#air-button{
   margin-top: 1em;
}

.role-button, .element-button{
    margin-left: .4em;
    margin-right: .4em;
}

#temp-button{
    visibility: hidden;
}

.provinces h4{
    margin-top: .5em;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
}

.provinces button{
    margin-top: .5em;
}

.province-item{
    text-align: center;
    width: 90%;

}

#submit-button-row{
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    text-align: center;
    align-content: center;
}

#submit-button{
    width: 85%;
    align-content: center;
}
