


*, *::before, *::after{
    box-sizing: border-box;
}

.deck{
    background-color: rgb(233, 233, 233);
}

.deck:hover{
    background-color: rgb(219, 219, 219);
}

.deck-buttons{
    margin-left: 1em;
    margin-left: 1em;
    display: inline-block;
}


