:root{/*? L5R Official Colours for the Clans ?*/
    --crab-colour: #83929b;
    --crab-image: url(/media/crab_colour.jpg);
    --crane-colour:#9cb7bb;
    --crane-image: url(/media/crane_colour.jpg);
    --dragon-colour:#5d8a71;
    --dragon-image: url(/media/dragon_colour.jpg);
    --lion-colour:#d8bb6c;
    --lion-image: url(/media/lion_colour.jpg);
    --phoenix-colour:#ca8b58;
    --phoenix-image: url(/media/phoenix_colour.jpg);
    --scorpion-colour:#964538;
    --scorpion-image: url(/media/scorpion_colour.jpg);
    --unicorn-colour:#795f8d;
    --unicorn-image: url(/media/unicorn_colour.jpg);

    --keeper-image: url(/media/keeper_colour.jpg);
    --seeker-image: url(/media/seeker_colour.jpg);

    --air-colour:#e77f1e;
    --air-image: url(/media/air_colour.jpg);
    --earth-colour:#4b8765;
    --earth-image: url(/media/earth_colour.jpg);
    --fire-colour:#d33729;
    --fire-image: url(/media/fire_colour.jpg);
    --void-colour:#363636;
    --void-image: url(/media/void_colour.jpg);
    --water-colour:#56598e;
    --water-image: url(/media/water_colour.jpg);
}

/** Globals **/

*{
    padding: 0;
    margin: 0;
    text-align: center;
}

/**--------------------**/
/** Grid Styles **/

.primary-clan, .splash-clan, .vs-clan, .role-element{
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
}

.primary-clan a, .splash-clan a, .role-element a, .vs-clan a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 1.5em;
    opacity: .9;
}

.deckbuilder-grid{
    border: 2px solid black;
    background-color: rgb(214, 214, 214);
    box-shadow: 0 10px 15px -5px;
    cursor: pointer;
}

/** Text styling and tooltips **/

#primary-text, #splash-text, #role-element-text, #vs-text{
    border: none;
    background-color: white;
    box-shadow: none;
}

[data-tooltip]{
    position: relative;
    cursor: default;
}

[data-tooltip]::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: attr(data-tooltip);
    background-color: var(--void-colour);
    border-radius: 5px;
    color: white;
    transform: scale(0);
    transition: 
    transform ease-out 350ms;
}

[data-tooltip]:hover::after{
    transform: scale(1);
    bottom: -40%;
}

/** Specificity boost to overide for the 'deckbuilder-grid' + .class a attributes **/
/** ----           +               ----**/
/** Hover Effects for the grids **/

.crab-design.deckbuilder-grid, .crane-design.deckbuilder-grid, .dragon-design.deckbuilder-grid,
.lion-design.deckbuilder-grid, .phoenix-design.deckbuilder-grid, .scorpion-design.deckbuilder-grid,
.unicorn-design.deckbuilder-grid, .keeper-design.deckbuilder-grid, .seeker-design.deckbuilder-grid,
.air-design.deckbuilder-grid, .earth-design.deckbuilder-grid, .fire-design.deckbuilder-grid,
.void-design.deckbuilder-grid, .water-design.deckbuilder-grid, .deckbuilder-grid:hover{
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-color: white;
    color: transparent;
    cursor: pointer;
    transform: scale(1.1);
}

.crab-design.deckbuilder-grid, #primary-crab:hover, #splash-crab:hover, #vs-crab:hover{
    background-image: var(--crab-image);
    border-color: var(--crab-colour);
    box-shadow: 0 0 5px 5px var(--crab-colour);
}

.crane-design.deckbuilder-grid, #primary-crane:hover, #splash-crane:hover, #vs-crane:hover{
    background-image: var(--crane-image);
    border-color: var(--crane-colour);
    box-shadow: 0 0 5px 5px var(--crane-colour);
}

.dragon-design.deckbuilder-grid, #primary-dragon:hover, #splash-dragon:hover, #vs-dragon:hover{
    background-image: var(--dragon-image);
    border-color: var(--dragon-colour);
    box-shadow: 0 0 5px 5px var(--dragon-colour);
}

.lion-design.deckbuilder-grid, #primary-lion:hover, #splash-lion:hover, #vs-lion:hover{
    background-image: var(--lion-image);
    border-color: var(--lion-colour);
    box-shadow: 0 0 5px 5px var(--lion-colour);
}

.phoenix-design.deckbuilder-grid, #primary-phoenix:hover, #splash-phoenix:hover, #vs-phoenix:hover{
    background-image: var(--phoenix-image);
    border-color: var(--phoenix-colour);
    box-shadow: 0 0 5px 5px var(--phoenix-colour);
}

.scorpion-design.deckbuilder-grid, #primary-scorpion:hover, #splash-scorpion:hover, #vs-scorpion:hover{
    background-image: var(--scorpion-image);
    border-color: var(--scorpion-colour);
    box-shadow: 0 0 5px 5px var(--scorpion-colour);
}

.unicorn-design.deckbuilder-grid, #primary-unicorn:hover, #splash-unicorn:hover, #vs-unicorn:hover{
    background-image: var(--unicorn-image);
    border-color: var(--unicorn-colour);
    box-shadow: 0 0 5px 5px var(--unicorn-colour);
}

.keeper-design.deckbuilder-grid, #keeper-button:hover{
    background-image: var(--keeper-image);
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
}

.seeker-design.deckbuilder-grid, #seeker-button:hover{
    background-image: var(--seeker-image);
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
}

.air-design.deckbuilder-grid, #air-button:hover{
    background-image: var(--air-image);
    border-color: var(--air-colour);
    box-shadow: 0 0 5px 5px var(--air-colour);
}

.earth-design.deckbuilder-grid, #earth-button:hover{
    background-image: var(--earth-image);
    border-color: var(--earth-colour);
    box-shadow: 0 0 5px 5px var(--earth-colour);
}

.fire-design.deckbuilder-grid, #fire-button:hover{
    background-image: var(--fire-image);
    border-color: var(--fire-colour);
    box-shadow: 0 0 5px 5px var(--fire-colour);
}

.void-design.deckbuilder-grid, #void-button:hover{
    background-image: var(--void-image);
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
}

.water-design.deckbuilder-grid, #water-button:hover{
    background-image: var(--water-image);
    border-color: var(--water-colour);
    box-shadow: 0 0 5px 5px var(--water-colour);
}

/**----------------------------**/
/** Deckname and Submit Button **/

#deck-name{
    align-content: center;
}

#submit-button-row{
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    text-align: center;
}

#submit-button{
    width: 85%;
    align-content: center;
}
