
/** Globals **/

*{
    padding: 0;
    margin: 0;
    text-align: center;
}

/**--------------------**/
/** Grid Styles **/

.primary-clan, .splash-clan, .vs-clan, .role-element{
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
}

.primary-clan a, .splash-clan a, .role-element a, .vs-clan a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 1.5em;
    opacity: .9;
}

/** Text styling and tooltips **/

#primary-text, #splash-text, #role-element-text, #vs-text{
    border: none;
    background-color: white;
    box-shadow: none;
}

[data-tooltip]{
    position: relative;
    cursor: default;
}

[data-tooltip]::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: attr(data-tooltip);
    background-color: var(--void-colour);
    border-radius: 5px;
    color: white;
    transform: scale(0);
    transition: 
    transform ease-out 350ms;
}

[data-tooltip]:hover::after{
    transform: scale(1);
    bottom: -40%;
}

/** Specificity boost to overide for the 'on-grid' + .class a attributes **/
/** ----           +               ----**/
/** Hover Effects for the grids **/



#primary-crab, #splash-crab, #vs-crab{
    background-image: var(--crab-image);
}

#primary-crane, #splash-crane, #vs-crane{
    background-image: var(--crane-image);
}

#primary-dragon, #splash-dragon, #vs-dragon{
    background-image: var(--dragon-image);
}

#primary-lion, #splash-lion, #vs-lion{
    background-image: var(--lion-image);
}

#primary-phoenix, #splash-phoenix, #vs-phoenix{
    background-image: var(--phoenix-image);
}

#primary-scorpion, #splash-scorpion, #vs-scorpion{
    background-image: var(--scorpion-image);
}

#primary-unicorn, #splash-unicorn, #vs-unicorn{
    background-image: var(--unicorn-image);
}

#keeper-button{
    background-image: var(--keeper-image);
}

#seeker-button{
    background-image: var(--seeker-image);
}

#air-button{
    background-image: var(--air-image);
}

#earth-button{
    background-image: var(--earth-image);
}

#fire-button{
    background-image: var(--fire-image);
}

#void-button{
    background-image: var(--void-image);
}

#water-button{
    background-image: var(--water-image);
}


/**----------------------------**/
/** Deckname and Submit Button **/

#deckname{
    align-content: center;
    background-color: var(--dark-colour);
    color: #fff;
}

#deckname-text{
    border-block-color: var(--dark-colour);
}

#submit-button-row{
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    text-align: center;
}

#submit-button{
    width: 85%;
    align-content: center;
}

/** -----------------**/
/** keyframes **/

