:root{/*? L5R Official Colours for the Clans ?*/
    --crab-colour: #83929b;
    --crane-colour:#9cb7bb;
    --dragon-colour:#5d8a71;
    --lion-colour:#d8bb6c;
    --phoenix-colour:#ca8b58;
    --scorpion-colour:#964538;
    --unicorn-colour:#795f8d;

    --air-colour:#e77f1e;
    --earth-colour:#4b8765;
    --fire-colour:#d33729;
    --void-colour:#363636;
    --water-colour:#56598e;
}

/** Globals **/

*{
    padding: 0;
    margin: 0;
    text-align: center;
}

/**--------------------**/
/** Grid Styles **/

#primary-clan, #splash-clan, #vs-clan, #role-element{
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
}

.primary-clan a, .splash-clan a, .role-element a, .vs-clan a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    opacity: .9;
}

.primary-clan ul, .splash-clan ul, .role-element ul, .vs-clan ul{
    border: 2px solid black;
    background-color: rgb(214, 214, 214);
    box-shadow: 0 10px 10px -5px;
}

#primary-text, #splash-text, #role-element-text, #vs-text{
    border: none;
    background-color: white;
    box-shadow: none;
}

/** ----------------------------**/
/** Hover Effects for the grids **/

.deckbuilder-grid:hover{
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-color: white;
    color: transparent;
}

#primary-crab:hover, #splash-crab:hover, #vs-crab:hover{
    background-image: url(/media/crab_colour.jpg);
    border-color: var(--crab-colour);
    box-shadow: 0 0 5px 5px var(--crab-colour);
}

#primary-crane:hover, #splash-crane:hover, #vs-crane:hover{
    background-image: url(/media/crane_colour.jpg);
    border-color: var(--crane-colour);
    box-shadow: 0 0 5px 5px var(--crane-colour);
}

#primary-dragon:hover, #splash-dragon:hover, #vs-dragon:hover{
    background-image: url(/media/dragon_colour.jpg);
    border-color: var(--dragon-colour);
    box-shadow: 0 0 5px 5px var(--dragon-colour);
}

#primary-lion:hover, #splash-lion:hover, #vs-lion:hover{
    background-image: url(/media/lion_colour.jpg);
    border-color: var(--lion-colour);
    box-shadow: 0 0 5px 5px var(--lion-colour);
}

#primary-phoenix:hover, #splash-phoenix:hover, #vs-phoenix:hover{
    background-image: url(/media/phoenix_colour.jpg);
    border-color: var(--phoenix-colour);
    box-shadow: 0 0 5px 5px var(--phoenix-colour);
}

#primary-scorpion:hover, #splash-scorpion:hover, #vs-scorpion:hover{
    background-image: url(/media/scorpion_colour.jpg);
    border-color: var(--scorpion-colour);
    box-shadow: 0 0 5px 5px var(--scorpion-colour);
}

#primary-unicorn:hover, #splash-unicorn:hover, #vs-unicorn:hover{
    background-image: url(/media/unicorn_colour.jpg);
    border-color: var(--unicorn-colour);
    box-shadow: 0 0 5px 5px var(--unicorn-colour);
}

#keeper-button:hover{
    background-image: url(/media/keeper_colour.jpg);
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
}

#seeker-button:hover{
    background-image: url(/media/seeker_colour.jpg);
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
}

#air-button:hover{
    background-image: url(/media/air_colour.jpg);
    border-color: var(--air-colour);
    box-shadow: 0 0 5px 5px var(--air-colour);
}

#earth-button:hover{
    background-image: url(/media/earth_colour.jpg);
    border-color: var(--earth-colour);
    box-shadow: 0 0 5px 5px var(--earth-colour);
}

#fire-button:hover{
    background-image: url(/media/fire_colour.jpg);
    border-color: var(--fire-colour);
    box-shadow: 0 0 5px 5px var(--fire-colour);
}

#void-button:hover{
    background-image: url(/media/void_colour.jpg);
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
}

#water-button:hover{
    background-image: url(/media/water_colour.jpg);
    border-color: var(--water-colour);
    box-shadow: 0 0 5px 5px var(--water-colour);
}

/**----------------------------**/
/** Deckname and Submit Button **/

.deck-name{
    align-content: center;
}

#submit-button-row{
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    text-align: center;
}

#submit-button{
    width: 85%;
    align-content: center;
}
