:root{

    /** Site Colours **/
    --dark-colour:#343a40;
    --medium-colour:rgb(214, 214, 214);

    /** Clan Colours and Images **/

    /*? L5R Official Colours for the Clans ?*/
    --crab-colour: #83929b;
    --crane-colour:#9cb7bb;
    --dragon-colour:#5d8a71;
    --lion-colour:#d8bb6c;
    --phoenix-colour:#ca8b58;
    --scorpion-colour:#964538;
    --unicorn-colour:#795f8d;

    /*? Colours that match the void colours ?*/
    --air-colour:#e77f1e;
    --earth-colour:#4b8765;
    --fire-colour:#d33729;
    --void-colour:#363636;
    --water-colour:#56598e;

    /** Images **/

    /*? main clan images */
    --crab-image: url(/media/crab_colour.jpg);
    --crane-image: url(/media/crane_colour.jpg);
    --dragon-image: url(/media/dragon_colour.jpg);
    --lion-image: url(/media/lion_colour.jpg);
    --phoenix-image: url(/media/phoenix_colour.jpg);
    --scorpion-image: url(/media/scorpion_colour.jpg);
    --unicorn-image: url(/media/unicorn_colour.jpg);

    /*? roles and elements */
    --keeper-image: url(/media/keeper_colour.jpg);
    --seeker-image: url(/media/seeker_colour.jpg);
    --air-image: url(/media/air_colour.jpg);
    --earth-image: url(/media/earth_colour.jpg);
    --fire-image: url(/media/fire_colour.jpg);
    --void-image: url(/media/void_colour.jpg);
    --water-image: url(/media/water_colour.jpg);

    /*? card types */
    --holding-image: url(/media/holding_colour.jpg);
    --character-image: url(/media/character_colour.jpg);
    --event-image: url(/media/event_colour.jpg);
    --attachment-image: url(/media/attachment_colour.jpg);

    /*? deck types */
    --stronghold-image: url(/media/stronghold_colour.jpg);
    --province-image: url(/media/province_colour.jpg);
    --dynasty-image: url(/media/dynasty_colour.jpg);
    --conflict-image: url(/media/conflict_colour.jpg);
}


*{
    padding: 0;
    margin: 0;
    text-align: center;
}

/**--------------------**/
/** Grid Styles **/

.primary-clan, .splash-clan, .vs-clan, .role-element{
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
}

.primary-clan a, .splash-clan a, .role-element a, .vs-clan a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 1.5em;
    opacity: .9;
}

/** Text styling and tooltips **/

#primary-text, #splash-text, #role-element-text, #vs-text{
    border: none;
    background-color: white;
    box-shadow: none;
}

/** set the background to size 0 so that it loads in but is invisible to the user **/

.on-grid{
    border: 2px solid var(--dark-colour);
    background-color: var(--medium-colour);
    box-shadow: 0 10px 10px -5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0%;
}

.crab-design.on-grid, .crane-design.on-grid, .dragon-design.on-grid,
.lion-design.on-grid, .phoenix-design.on-grid, .scorpion-design.on-grid,
.unicorn-design.on-grid, .keeper-design.on-grid, .seeker-design.on-grid,
.air-design.on-grid, .earth-design.on-grid, .fire-design.on-grid,
.void-design.on-grid, .water-design.on-grid, .stronghold-design.on-grid,
 .dynasty-design.on-grid, .conflict-design.on-grid, .province-design.on-grid,
.holding-design.on-grid, .character-design.deckbuider-grid, .event-design.on-grid,
 .attachment-design.on-grid, .on-grid:hover{
    background-color: white;
    border-color: white;
    color: transparent;
    cursor: pointer;
    transform: scale(1.1);
}

/** use both for deckbuilder and cards **/

#primary-crab, #splash-crab, #vs-crab{
    background-image: var(--crab-image);
}

#primary-crane, #splash-crane, #vs-crane{
    background-image: var(--crane-image);
}

#primary-dragon, #splash-dragon, #vs-dragon{
    background-image: var(--dragon-image);
}

#primary-lion, #splash-lion, #vs-lion{
    background-image: var(--lion-image);
}

#primary-phoenix, #splash-phoenix, #vs-phoenix{
    background-image: var(--phoenix-image);
}

#primary-scorpion, #splash-scorpion, #vs-scorpion{
    background-image: var(--scorpion-image);
}

#primary-unicorn, #splash-unicorn, #vs-unicorn{
    background-image: var(--unicorn-image);
}

/** the .on-grid with the design is to increase the specificity so it overlaps the .ongrid styles. **/

.crab-design.on-grid, #primary-crab:hover, #splash-crab:hover, #vs-crab:hover{
    border-color: var(--crab-colour);
    box-shadow: 0 0 5px 5px var(--crab-colour);
    background-size: 40%;
}

.crane-design.on-grid, #primary-crane:hover, #splash-crane:hover, #vs-crane:hover{
    border-color: var(--crane-colour);
    box-shadow: 0 0 5px 5px var(--crane-colour);
    background-size: 40%;
}

.dragon-design.on-grid, #primary-dragon:hover, #splash-dragon:hover, #vs-dragon:hover{
    border-color: var(--dragon-colour);
    box-shadow: 0 0 5px 5px var(--dragon-colour);
    background-size: 40%;
}

.lion-design.on-grid, #primary-lion:hover, #splash-lion:hover, #vs-lion:hover{
    border-color: var(--lion-colour);
    box-shadow: 0 0 5px 5px var(--lion-colour);
    background-size: 40%;
}

.phoenix-design.on-grid, #primary-phoenix:hover, #splash-phoenix:hover, #vs-phoenix:hover{
    border-color: var(--phoenix-colour);
    box-shadow: 0 0 5px 5px var(--phoenix-colour);
    background-size: 40%;
}

.scorpion-design.on-grid, #primary-scorpion:hover, #splash-scorpion:hover, #vs-scorpion:hover{
    border-color: var(--scorpion-colour);
    box-shadow: 0 0 5px 5px var(--scorpion-colour);
    background-size: 40%;
}

.unicorn-design.on-grid, #primary-unicorn:hover, #splash-unicorn:hover, #vs-unicorn:hover{
    border-color: var(--unicorn-colour);
    box-shadow: 0 0 5px 5px var(--unicorn-colour);
    background-size: 40%;
}

.keeper-design.on-grid, #keeper-button:hover{
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
    background-size: 40%;
}

.seeker-design.on-grid, #seeker-button:hover{
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
    background-size: 40%;
}

.air-design.on-grid, #air-button:hover{
    border-color: var(--air-colour);
    box-shadow: 0 0 5px 5px var(--air-colour);
    background-size: 40%;
}

.earth-design.on-grid, #earth-button:hover{
    border-color: var(--earth-colour);
    box-shadow: 0 0 5px 5px var(--earth-colour);
    background-size: 40%;
}

.fire-design.on-grid, #fire-button:hover{
    border-color: var(--fire-colour);
    box-shadow: 0 0 5px 5px var(--fire-colour);
    background-size: 40%;
}

.void-design.on-grid, #void-button:hover{
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
    background-size: 40%;
}

.water-design.on-grid, #water-button:hover{
    border-color: var(--water-colour);
    box-shadow: 0 0 5px 5px var(--water-colour);
    background-size: 40%;
}

.stronghold-design.on-grid, #deck-type-stronghold:hover{ 
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour); 
    background-size: 100%;
}

.province-design.on-grid, #deck-type-province:hover{
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
    background-size: 100%;
}

.dynasty-design.on-grid, #deck-type-dynasty:hover{
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
    background-size: 100%;
}

.conflict-design.on-grid, #deck-type-conflict:hover{
    border-color: var(--void-colour);
    box-shadow: 0 0 5px 5px var(--void-colour);
    background-size: 100%;
}

.holding-design.on-grid, #card-type-holding:hover{
    border-color: var(--lion-colour);
    box-shadow: 0 0 5px 5px var(--lion-colour);
    background-size: 100%;
}

.character-design.on-grid, #card-type-character:hover{ 
    border-color: var(--earth-colour);
    box-shadow: 0 0 5px 5px var(--earth-colour);
    background-size: 100%;
}

.event-design.on-grid, #card-type-event:hover{
    border-color: var(--fire-colour);
    box-shadow: 0 0 5px 5px var(--fire-colour);
    background-size: 100%;
}

.attachment-design.on-grid, #card-type-attachment:hover{
    border-color: var(--phoenix-colour);
    box-shadow: 0 0 5px 5px var(--phoenix-colour);
    background-size: 100%;
}