
#login-form, #register-form{
    margin-top: 1rem;
}

#nav-login-item, #nav-register-item{
    display: block;
}

#login-text, #register-text{
    text-align: center;
    margin-top: 1rem;
}

#login-form, #register-form{
    background-color: var(--dark-colour);
}

#login-form h3, #register-form h3{
    color: #fff;
}

#login-button, #register-button{
    color: #fff;
}

#login-button:hover, #register-button:hover{
    color: var(--dark-colour);
}

/** Alerts **/

#login-success, #login-fail,
#register-success, #register-fail{
    position: absolute;
    left: 80%;
    top: 10%;
}

/**      **/

 /*? Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    #login-form, #register-form{
        margin-left: 25%;
        margin-right: 25%;
    }

    .side-div{
        visibility: hidden;
    }

 }

 /*? Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /*? Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /*? Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /*? Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 