:root{

    /** Site Colours **/
    --dark-colour:#343a40;
    --medium-colour:rgb(235, 235, 235);

    /** Clan Colours and Images **/

    
}

*{
    padding: 0;
    margin: 0;
    text-align: center;
}